#!/bin/sh
SCRIPTPATH="$(dirname "$(readlink "$0")")"
JAVA=$SCRIPTPATH/jre/bin/java
BINARY=$SCRIPTPATH/${app.name}
#if($app.isAdministratorRequired())
system security $JAVA -jar $BINARY $@
#else
$JAVA -jar $BINARY $@
#end
exit 0
