.gradle
**/build/

# Package Files #
bin
target
.settings/
.classpath
.project

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
src/main/resources/windows/winrun4j-launcher.jar
