Package: ${app.name}
Version: ${app.version}
Section: misc
Priority: optional
Architecture: amd64
Maintainer: ${app.organizationName} <${app.organizationEmail}>
Description: ${app.description}
Distribution: development
