#set ($categories = $StringUtils.join($info.linuxConfig.categories, ";"))
[Desktop Entry]
Name=${info.displayName}
GenericName=${info.displayName}
Comment=${info.description}
Exec=${info.executable.name} %U
Icon=${info.name}
Terminal=false
Type=Application
StartupNotify=true
#if ($info.isThereFileAssociations())
MimeType=${info.getMimeTypesListAsString(";")}
#end
Categories=${categories}