[Desktop Entry]
Name=Teuton Panel
GenericName=Teuton Panel
Comment=Graphical front-end for TEUTON
Exec=/opt/teuton-panel/teuton-panel
Icon=/opt/teuton-panel/teuton.png
Terminal=false
Type=Application
Categories=System
Keywords=system;administrator;challenge;teuton;panel
StartupNotify=true
