[Desktop Entry]
Name=${info.name}
GenericName=${info.name}
Comment=${info.description}
Exec=/opt/${info.name}/${info.name}
Icon=/opt/${info.name}/${info.name}.png
Terminal=false
Type=Application
StartupNotify=true
