[Desktop Entry]
Name=${info.displayName}
GenericName=${info.displayName}
#if ($info.description)
Comment=${info.description}
#end
Exec=${info.name} %U
Icon=${info.name}
Terminal=false
Type=Application
StartupNotify=true
#if ($info.isThereFileAssociations())
MimeType=${info.getMimeTypesListAsString(";")}
#end
Categories=Utility