[Desktop Entry]
Name=${app.name}
GenericName=${app.name}
Comment=${app.description}
Exec=/opt/${app.name}/${app.name}
Icon=/opt/${app.name}/${app.name}.png
Terminal=false
Type=Application
StartupNotify=true
