<?xml version="1.0" encoding="UTF-8"?>
<mime-info xmlns="http://www.freedesktop.org/standards/shared-mime-info">
#foreach ($fileAssociation in $info.fileAssociations)
	<mime-type type="${fileAssociation.mimeType}">
		<comment>${fileAssociation.description}</comment>
		<glob pattern="*.${fileAssociation.extension}" />
	</mime-type>
#end
</mime-info>