#!/bin/sh
SCRIPTPATH="$(dirname "$(readlink -f "$0")")"
JAVA=$SCRIPTPATH/jre/bin/java
BINARY=$SCRIPTPATH/${app.name}
GDKBACKEND=x11
#if($app.administratorRequired)
pkexec $JAVA -jar $BINARY $@
#else
$JAVA -jar $BINARY $@
#end
exit 0
